# Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Environment variables
.env

# Logs
logs/
*.log

# Database files
*.sqlite
*.db

# IDE-specific files
.idea/
.vscode/
